# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ main, develop ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - uses: actions/cache@v3
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Test with Gradle
      run: ./gradlew testCoverage
    - name: Upload coverage to CodeCov
      uses: codecov/codecov-action@v3.1.0
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        file: ./build/reports/jacoco/test/jacocoTestReport.xml
    - name: build with gradle
      run: ./gradlew build -x test
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.0.0
    - name: Docker Login
      uses: docker/login-action@v2.0.0
      with:
        registry: ${{secrets.DOCKER_REGISTRY}}
        username: ${{secrets.DOCKER_USERNAME}}
        password: ${{secrets.DOCKER_PASSWORD}}
    - name: build and push to Docker registry
      uses: docker/build-push-action@v3.0.0
      env:
        REGISTRY: ${{secrets.DOCKER_REGISTRY}}
        IMAGE_TAG: ${GITHUB_SHA::7}
      with:
        context: .
        push: true
        tags: ${{env.REGISTRY}}/spring-mysteam:${{3nv.IMAGE_TAG}}
        cache-from: type=gha
        cache-to: type=gha, mode=max
    - name: Deploy
      uses: appleboy/ssh-action@v0.1.4
      with:
        host: ${{secrets.SSH_HOST}}
        username: ${{secrets.SSH_USERNAME}}
        port: ${{secrets.SSH_PORT}}
        password: ${{secrets.SSH_PRIVATE_KEY}}
        script: |
          docker pull ${{secrets.DOCKER_REGISTRY}}/spring-mysteam:${GITHUB_SHA::7}
          docker tag ${{secrets.DOCKER_REGISTRY}}/spring-mysteam:${GITHUB_SHA::7} spring-mysteam
          docker stop spring-mysteam
          docker run -d --rm --name spring-mysteam -p 8080:8080 spring-mysteam 
        
